@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #eff5ee;
}

h1 {
    font-size: 33px;
    font-weight: bold;
}

h2 {
    font-size: 28px;
    font-weight: bold;
}

h3 {
    font-size: 22px;
    font-weight: bold;
}

h4 {
    font-size: 18px;
    font-weight: bold;
}

p {
    font-size: 14px;
    font-weight: 400;
}


.secondary-icon-menu {
    @apply text-icons-green size-4 hover:text-white mx-3 ease-in-out duration-300;
}